body{
    border: 10px solid black;
    width: 400px;;
    box-shadow: 5px 10px gray;
    text-align: center;

}
h1{
    font-size: 45px;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    text-align: right;
}
.btn:hover{
    background-color: yellowgreen;
    cursor: pointer
}

